<div class="item-special-improvement-line flexcol" style="gap: 0.25em; margin-bottom: 0.5em;">
    <input type="text" name="system.specialImprovements.{{index}}.name" value="{{imp.name}}" placeholder="{{localize 'MIST_ENGINE.PLACEHOLDERS.SpecialImprovementName'}}" />
    <textarea rows="2" style="flex-grow: 1;" 
        name="system.specialImprovements.{{index}}.description" placeholder="{{localize 'MIST_ENGINE.PLACEHOLDERS.SpecialImprovementDescription'}}">{{imp.description}}</textarea>
</div>