<div class="right-panel scrollable">
            <div class="">
                {{#if (eq hasAvailableThemekits false)}}
                <p>{{localize "MIST_ENGINE.THEMEKITS.NoThemekitsAvailable"}}</p>
                {{/if}}
                {{#if currentSelectedThemekitAvailable}}
                <h2>{{currentSelectedThemekit.name}}</h2>
                <p>{{currentSelectedThemekit.system.description}}</p>
                <!-- list powertags -->
                <h3 class="with-line">{{localize "MIST_ENGINE.THEMEKITS.Powertags"}}</h3>
                <div class="tag-container">
                    {{#each currentSelectedThemekit.system.powertags}}
                    <mark class="tag yellow">{{this.name}}</mark>
                    {{/each}}
                </div>
                <!-- list weaknesses -->
                <h3 class="with-line">{{localize "MIST_ENGINE.THEMEKITS.WeaknessTags"}}</h3>
                <div class="tag-container">
                    {{#each currentSelectedThemekit.system.weaknesstags}}
                    <mark class="tag orange">{{this.name}}</mark>
                    {{/each}}
                </div>
                <!-- show quest -->
                {{#if currentSelectedThemekit.system.quest}}
                <h3 class="with-line">{{localize "MIST_ENGINE.THEMEKITS.Quest"}}</h3>
                <p>{{currentSelectedThemekit.system.quest}}</p>
                {{/if}}

                <!-- list specialImprovements, but only when the name is not empty -->
                {{#if hasSpecialImprovements}}
                <h3 class="with-line">{{localize "MIST_ENGINE.THEMEKITS.SpecialImprovements"}}</h3>
                <ul>
                    {{#each currentSelectedThemekit.system.specialImprovements}}
                    {{#if this.name}}
                    <li>
                        <strong>{{this.name}}</strong>: {{{textWithTags this.description}}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
                {{/if}}
                <button class="themekit-button" data-action="addThemekit">{{addThemekitButtonStr}}</button>
                {{/if}}
            </div>
        </div>