<div class="themebook-container" data-id="{{id}}">
    {{#if fellowshipThemecard}}
    <div class="themebook-style litm-fellowship-themecard flexcol">
        <h2 class="theme-name">Fellowship
        </h2>
        <div class="powertags-container">
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=1
            powertag=fellowshipThemecard.powertag1 source='fellowship-themecard' editMode=editMode firstTag=true}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=2
            powertag=fellowshipThemecard.powertag2 source='fellowship-themecard' editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=3
            powertag=fellowshipThemecard.powertag3 source='fellowship-themecard' editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=4
            powertag=fellowshipThemecard.powertag4 source='fellowship-themecard' editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=5
            powertag=fellowshipThemecard.powertag5 source='fellowship-themecard' editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=6
            powertag=fellowshipThemecard.powertag6 source='fellowship-themecard' editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=7
            powertag=fellowshipThemecard.powertag7 source='fellowship-themecard' editMode=editMode}}

            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-weakness-line.hbs" index=1
            weaknesstag=fellowshipThemecard.weaknesstag1 source='fellowship-themecard' editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-weakness-line.hbs" index=2
            weaknesstag=fellowshipThemecard.weaknesstag2 source='fellowship-themecard' editMode=editMode}}
        </div>
        <div class="quest-container">
            {{#if editMode}}
            <textarea class="themebook-entry-input quest-textarea" data-key="system.quest" data-source='fellowship-themecard'
                placeholder="Quest/Goal">{{themebook.system.quest}}</textarea>
            {{else}}
            <h3>Quest</h3>
            <p class="quest-text">{{fellowshipThemecard.system.quest}}</p>
            {{/if}}
        </div>
        <div class="development-container flexrow">
            {{> "systems/mist-engine-fvtt/templates/actor/parts/development-partial.hbs" name="Abandon" source="fellowship-themecard"
            key="system.abandon" value=fellowshipThemecard.abandon}}
            {{> "systems/mist-engine-fvtt/templates/actor/parts/development-partial.hbs" name="Improve" source="fellowship-themecard"
            key="system.improve" value=fellowshipThemecard.improve}}
            {{> "systems/mist-engine-fvtt/templates/actor/parts/development-partial.hbs" name="Milestone"
            source="fellowship-themecard" key="system.milestone" value=fellowshipThemecard.milestone}}
        </div>
    </div>
    {{else}}
     <div class="themebook-style litm-fellowship-themecard flexcol">
        <h2 class="theme-name">Fellowship
        </h2>
        <div class="powertags-container">
            <div class="empty-message">Create a Fellowship Themecard Actor and assign ownership to all party members to see it here.</div>
        </div>
    </div>
    {{/if}}
</div>