<div class="themebook-container container-themebook-with-border {{#unless system.editMode}}backpack-stylized{{/unless}}" data-id="{{backpack._id}}" data-card-key="{{cardKey}}">
    <div class="themebook-style litm-backpack flexcol">
        <h2 class="theme-name"><i class="card-drag-handle fa-solid fa-grip-vertical" draggable="true" data-drag-type="card" data-card-key="{{cardKey}}" title="{{localize 'MIST_ENGINE.LABELS.DragCardHint'}}"></i>{{localize 'MIST_ENGINE.THEMEBOOKS.Backpack'}}
            <a data-action="createBackpackItem" data-item-id='{{backpack._id}}'>
                <i class='fas fa-plus'></i>
            </a>
            <i class="themebook-icon litm-backpack"></i>
        </h2>

        <div class="powertags-container">
            {{#each backpack.system.items}}
                {{>  'systems/mist-engine-fvtt/templates/shared/litm/storytag-line.hbs'  storytag=this source='backpack' key='system.items' id=../backpack._id index=@index editMode=../editMode tidyTags=../tidyTags}}
            {{/each}}
        </div>
    </div>
</div>