<div class="themebook-container" data-id="{{id}}">
    <div class="themebook-style litm-quintessence flexcol">
        <h2 class="theme-name">Quintessences

            {{#if editMode}}
            <a data-action="createQuintessence" >
                <i class='fas fa-plus'></i>
            </a>
            {{else}}
            <i class="themebook-icon litm-quintessence"></i>
            {{/if}}
        </h2>
        <div>
            {{#each system.quintessences as |entry index|}}
            <div class="form-group flexrow item-powertag-line" >
                {{#if ../editMode}}
                    <input type="text" class="character-updatable-quintessence" data-index="{{index}}" value="{{entry}}" placeholder="Name"/>
                    <a class="themebook-icon" data-action="deleteQuintessence" data-item-index="{{index}}">
                        <i class='fas fa-trash'></i>
                    </a>
                {{else}}
                    <span class="litm-pc-quintessence">{{entry}}</span>
                {{/if}}
            </div>
            {{/each}}
        </div>
    </div>
</div>