<div class="development-partial-container" data-item-id="{{id}}" data-value-key="{{key}}" data-source="{{source}}">
    {{#if (lt value 1)}}
        <i class="marker fa-solid fa-circle"></i>
    {{else}}
        <i class="marker checked fa-solid fa-circle"></i>
    {{/if}}
    
    {{#if (lt value 2)}}
        <i class="marker fa-solid fa-circle"></i>
    {{else}}
        <i class="marker checked fa-solid fa-circle"></i>
    {{/if}}

    {{#if (lt value 3)}}
        <i class="marker fa-solid fa-circle"></i>
    {{else}}
        <i class="marker checked fa-solid fa-circle"></i>
    {{/if}}
    {{name}}
</div>