<div class="floating-tags-and-status-container container-card-with-border">

    <div class="npc-subtitle-container-c">
        <div class="npc-subtitle-text">
            {{> 'systems/mist-engine-fvtt/templates/shared/lock-toggle.hbs'
            isLocked=system.floatingTagsAndStatusesEditable name="system.floatingTagsAndStatusesEditable"
            title="Toggle
            Edit Mode"}}
            {{localize 'MIST_ENGINE.LABELS.Actor.FloatingTagOrStatus'}}
            <a data-action="createFloatingTagOrStatus"><i class='fas fa-plus'></i></a>
        </div>
    </div>

    <div class="floating-tags-and-status-entries">
        {{#each system.floatingTagsAndStatuses as |fts|}}
        <div class="floating-tag-and-status-entry flexcol">
            {{!-- Tag/Status --}}
            <div class="fts-tag-container">
                {{#if @root.system.floatingTagsAndStatusesEditable}}
                {{!-- Editable --}}
                <input type="text" class="fts-input-name updateable-fts-stat" data-index="{{@index}}" data-key="name"
                    value="{{fts.name}}" name="system.floatingTagsAndStatuses.{{@index}}.name"
                    placeholder="{{localize 'MIST_ENGINE.LABELS.Item.TagStatusName'}}">
                {{#if fts.isStatus}}
                <input type="text" class="fts-input-value" name="system.floatingTagsAndStatuses.{{@index}}.value"
                    value="{{value}}" min="0" max="6">
                {{/if}}
                <a data-action="deleteFloatingTagOrStatus" data-index="{{@index}}"><i class='fas fa-trash'></i></a>
                {{else}}
                {{!-- Non-Editable --}}
                <input type="hidden" name="system.floatingTagsAndStatuses.{{@index}}.name" value="{{fts.name}}">
                <div class="fts-input-name fts-tag-status-toggle {{#if isStatus}}status{{else}}tag{{/if}}"
                    data-index="{{@index}}" title="right click to toggle between tag or state">{{fts.name}}{{#if
                    isStatus}}-{{value}}{{/if}}</div>
                {{/if}}
                {{!-- Common --}}
                {{!-- TODO May need to add other tag/status fields here --}}
                <input type="hidden" name="system.floatingTagsAndStatuses.{{@index}}.isStatus" value="{{fts.isStatus}}">
            </div>
            {{!-- Status Markers --}}
            {{#if fts.isStatus}}
            {{#unless @root.system.floatingTagsAndStatusesEditable}}
            <div class="fts-markings-container">
                {{#each (range 0 6)}}
                <label id="marking-{{@index}}" for="system.floatingTagsAndStatuses.{{@../index}}.value"
                    class="fts-input-marking">
                    <input type="radio" name="system.floatingTagsAndStatuses.{{@../index}}.value" value="{{@index}}"
                        {{#if (eq @index fts.value)}}checked{{/if}}>
                    <span class="marking-circle {{#if (eq @index fts.value)}}checked{{/if}}">{{@index}}</span>
                </label>
                {{/each}}
            </div>
            {{/unless}}
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>