<section class="tab {{tabs.journey-consequences.id}} {{tabs.journey-consequences.cssClass}} scrollable"
    data-tab="{{tabs.journey-consequences.id}}" data-group="{{tabs.journey-consequences.group}}">
    {{#if editMode}}
        <div class="grid grid-2col">
            <button data-action="createChallenge"><i class='fas fa-plus'></i> Add Challenge</button>
            {{#if (isCustomJSONImportEnabled true)}}
                <button data-action="importChallengeJSON"><i class="fas fa-file-import"></i>{{localize 'MIST_ENGINE.ACTIONS.ImportShortChallengeVignetteJSON'}}</button>
            {{/if}}
        </div>
    {{else}}
        <div class="grid grid-2col">
    {{/if}}
    {{#each challenges}}
    {{> systems/mist-engine-fvtt/templates/actor/parts/challenge-partial.hbs challenge=this editMode=../editMode}}
    {{/each}}
    {{#if editMode}}
        <div class="grid grid-2col"><button data-action="createChallenge"><i class='fas fa-plus'></i> Add Challenge</button></div>
    {{else}}
        </div>
    {{/if}}

</section>