<div class="npc-beautified-container-stats flexrow">
    <div class="left-half">
        {{!-- Limits --}}
        <div class="npc-limits-container">
            <div class="npc-subtitle-container-c">
                <div class="npc-subtitle-text">{{localize "MIST_ENGINE.LABELS.Npc.limits"}}</div>
            </div>
            <div class="npc-limits-list flexcol">
                {{#each system.limits as |limit|}}
                <div class="npc-limit-item flexrow">
                    <div class="npc-limit-name">{{limit.name}}</div>
                    <span class="npc-limit-value-armor"><span class="npc-limit-value">{{npcLimitValue limit.value}}</span></span>
                </div>
                {{/each}}
            </div>
        </div>
        {{!-- Secrets --}}
        <div class="npc-secret-container">
            <div class="npc-subtitle-container-c">
                <div class="npc-subtitle-text">{{localize "MIST_ENGINE.NPC.Secrets"}}</div>
            </div>
            <div class="npc-secrets-list flexcol">
                {{#each system.secrets as |secret|}}
                <div class="npc-secret-item">
                    <div class="npc-secret-name">
                        <img src="systems/mist-engine-fvtt/assets/icons/torch.webp" class="npc-secret-icon">{{secret.name}}
                    </div>
                    <div class="npc-secret-description">
                        {{{textWithTags secret.description}}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{!-- Special Features --}}
        <div class="npc-limits-container">
            <div class="npc-subtitle-container-c">
                <div class="npc-subtitle-text">{{localize "MIST_ENGINE.LABELS.Npc.SpecialFeatures"}}</div>
            </div>
            <div class="npc-limits-list flexcol">
                {{#each system.specialFeatures as |feature|}}
                <div class="npc-limit-item">
                    <div class="npc-limit-name">{{feature.name}}</div>
                    <div class="npc-limit-description">{{{textWithTags feature.description}}}</div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="right-half">
        {{!-- Threats & Consequences --}}
        <div class="npc-threats-and-consequences-container">
            <div class="npc-subtitle-container-c">
                <div class="npc-subtitle-text">{{localize "MIST_ENGINE.LABELS.Npc.ThreatsAndConsequences"}}</div>
            </div>
            {{#each system.threatsAndConsequences as |threat|}}
            <div class="entry">
                <div class="entry-header">
                    <span class="entry-name">{{threat.name}}</span> {{threat.description}}
                </div>
                <ul class="entry-list">
                    {{#each threat.list as |entry|}}
                    <li class="entry-item">{{{textWithTags entry}}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>

        {{!-- Challenges / PreMade templates--}}
        <div class="npc-challenges-container">
            {{#each challenges}}
                {{> systems/mist-engine-fvtt/templates/actor/parts/challenge-partial.hbs challenge=this editMode=editMode}}
            {{/each}}
        </div>
    </div>
</div>