<fieldset style="flex-grow:1;">
    <legend>{{localize "MIST_ENGINE.NPC.Secrets"}} <a data-action="createSecret"><i class='fas fa-plus'></i></a>
    </legend>
    <div class="secrets-container">
        {{#each system.secrets as |entry index|}}
        <div class="single-secret-container flexcol">
            <div class="header flexrow">
                <input type="text" class="npc-updatable-npc-array-stat" data-index="{{index}}" data-array="secrets"
                    data-key="name" id="secret-{{index}}" name="system.secrets[{{index}}].name" value="{{entry.name}}"
                    placeholder="{{localize 'MIST_ENGINE.LABELS.Name'}}" />
                    <div class="trash-icon-container">
                <a data-action="deleteSecret" data-index="{{index}}">
                    <i class='fas fa-trash'></i>
                </a>
                </div>
            </div>
            <textarea class="npc-updatable-npc-array-stat" data-index="{{index}}" data-array="secrets"
                data-key="description" id="secret-description-{{index}}" name="system.secrets[{{index}}].description"
                placeholder="{{localize 'MIST_ENGINE.LABELS.Description'}}">{{entry.description}}</textarea>
        </div>
        {{/each}}
    </div>
</fieldset>