<fieldset>
    <legend>{{localize "MIST_ENGINE.NPC.SpecialFeatures"}} <a data-action="createSpecialFeature"><i class='fas fa-plus'></i></a></legend>
    {{#each system.specialFeatures as |entry index|}}
    <div class="form-group flexcol">
        <div class="form-group flexrow">
            <input type="text" class="npc-updatable-npc-array-stat" data-index="{{index}}" data-array="specialFeatures"
                data-key="name" id="threat-{{index}}" name="system.specialFeatures[{{index}}].name"
                value="{{entry.name}}" placeholder="{{localize 'MIST_ENGINE.LABELS.Name'}}" />
            <div class="trash-icon-container">
                <a data-action="deleteSpecialFeature" data-index="{{index}}">
                    <i class='fas fa-trash'></i>
                </a>
            </div>
        </div>
        <textarea class="npc-updatable-npc-array-stat" data-index="{{index}}" data-array="specialFeatures"
            data-key="description" id="threat-{{index}}" name="system.specialFeatures[{{index}}].description"
            placeholder="{{localize 'MIST_ENGINE.LABELS.Description'}}">{{entry.description}}</textarea>
    </div>
    {{/each}}
</fieldset>