<fieldset>
    <legend>Special Features <a data-action="createSpecialFeature"><i class='fas fa-plus'></i></a></legend>
    <div class="form-group">
        <div class="form-group flexrow">
            <label>Name</label>
            <label>Description</label>
        </div>
        {{#each system.specialFeatures as |entry index|}}
            <div class="form-group flexrow">
                <input type="text" class="npc-updatable-npc-array-stat" data-index="{{index}}" data-array="specialFeatures" data-key="name" id="threat-{{index}}" name="system.specialFeatures[{{index}}].name" value="{{entry.name}}" placeholder="Name"/>
                <textarea class="npc-updatable-npc-array-stat" data-index="{{index}}" data-array="specialFeatures" data-key="description" id="threat-{{index}}" name="system.specialFeatures[{{index}}].description" placeholder="Description">{{entry.description}}</textarea>
                <a data-action="deleteSpecialFeature" data-index="{{index}}">
                        <i class='fas fa-trash'></i>
                    </a>
            </div>
        {{/each}}
    </div>
</fieldset>