<div>
    <header class="sheet-header">
        <img class="portrait-img" data-action="editImage" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"
            height="120" />
        <div class="flexcol">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <div class="short-description"><input name="shortDescription" type="text" value="{{actor.shortDescription}}"
                    placeholder="Short Description" /></div>
            <div>
                Difficulty <input type="number" name="system.difficulty" value="{{system.difficulty}}" min="0"
                    style="width: 50px;" />
                <input type="checkbox" name="system.editMode" {{#if system.editMode}}checked{{/if}}>
            </div>
        </div>

    </header>
</div>