<fieldset>
    <legend>{{localize "MIST_ENGINE.NPC.TagsAndStatuses"}} <a data-action="createTagOrStatus"><i class='fas fa-plus'></i></a></legend>
    <div class="table-group">
        <div class="table-row">
            <div class="table-cell">{{localize "MIST_ENGINE.LABELS.Name"}}</div>
            <div class="table-cell">{{localize "MIST_ENGINE.LABELS.Value"}}</div>
            <div class="table-cell">{{localize "MIST_ENGINE.LABELS.Symbol"}}</div>
        </div>
        {{#each system.tags_and_statuses as |entry index|}}
        <div class="table-row">
            <div class="table-cell">
                <input type="text" class="npc-updatable-npc-array-stat" data-index="{{index}}"
                    data-array="tags_and_statuses" data-key="name" id="limit-{{index}}"
                    name="system.tags_and_statuses[{{index}}].name" value="{{entry.name}}"
                    placeholder="{{localize 'MIST_ENGINE.LABELS.Name'}}" />
            </div>
            <div class="table-cell">
                <input type="number" class="npc-updatable-npc-array-stat" data-index="{{index}}"
                    data-array="tags_and_statuses" data-key="value" id="limit-{{index}}" min="0" max="6"
                    name="system.tags_and_statuses[{{index}}].value" value="{{entry.value}}" placeholder="0" />
            </div>
            <div class="table-cell">
                <select class="npc-updatable-npc-array-stat" data-index="{{index}}" data-array="tags_and_statuses"
                    data-key="symbol" id="limit-{{index}}" name="system.tags_and_statuses[{{index}}].symbol">
                    <option value="" {{#if (eq entry.symbol "" )}}selected{{/if}}>-</option>
                    <option value="adventure" {{#if (eq entry.symbol "adventure" )}}selected{{/if}}>{{localize "MIST_ENGINE.NPC.TagsStatus.Symbols.Adventure"}}</option>
                    <option value="origin" {{#if (eq entry.symbol "origin" )}}selected{{/if}}>{{localize "MIST_ENGINE.NPC.TagsStatus.Symbols.Origin"}}</option>
                    <option value="variable" {{#if (eq entry.symbol "variable" )}}selected{{/if}}>{{localize "MIST_ENGINE.NPC.TagsStatus.Symbols.Variable"}}</option>
                    <option value="greatness" {{#if (eq entry.symbol "greatness" )}}selected{{/if}}>{{localize "MIST_ENGINE.NPC.TagsStatus.Symbols.Greatness"}}</option>
                </select>
            </div>
            <div class="table-cell">
                <div class="trash-icon-container table-cell">
                    <a data-action="deleteTagOrStatus" data-index="{{index}}">
                        <i class='fas fa-trash'></i>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</fieldset>