<section class="tab {{tabs.character.id}} {{tabs.character.cssClass}} scrollable" id="character"
    data-tab="{{tabs.character.id}}" data-group="{{tabs.character.group}}">
    editMode: {{editMode}}
    {{> 'systems/mist-engine-fvtt/templates/actor/parts/character-themebooks.hbs'}}
</section>