<div class="themebook-container" data-id="{{id}}">
    <div class="themebook-style {{themebook.system.type}} flexcol">
        <h2 class="theme-name">{{themebook.name}} 
            {{#if editMode}}
            <a data-action="editItem" data-item-id='{{themebook._id}}'>
                <i class='fas fa-edit'></i>
            </a>
            <a data-action="deleteItem" data-item-id='{{themebook._id}}'>
                        <i class='fas fa-trash'></i>
                    </a>
            {{else}}
            <i class="themebook-icon {{themebook.system.type}}"></i>
            {{/if}}
        </h2>
        <div class="powertags-container">
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=1 id=themebook._id
            powertag=themebook.system.powertag1 editMode=editMode firstTag=true}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=2 id=themebook._id
            powertag=themebook.system.powertag2 editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=3 id=themebook._id
            powertag=themebook.system.powertag3 editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=4 id=themebook._id
            powertag=themebook.system.powertag4 editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=5 id=themebook._id
            powertag=themebook.system.powertag5 editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=6 id=themebook._id
            powertag=themebook.system.powertag6 editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-powertag-line.hbs" index=7 id=themebook._id
            powertag=themebook.system.powertag7 editMode=editMode}}

            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-weakness-line.hbs" index=1 id=themebook._id
            weaknesstag=themebook.system.weaknesstag1 editMode=editMode}}
            {{> "systems/mist-engine-fvtt/templates/shared/litm/themebook-weakness-line.hbs" index=2 id=themebook._id
            weaknesstag=themebook.system.weaknesstag2 editMode=editMode}}
        </div>
        <div class="quest-container">
            {{#if editMode}}
                <textarea class="item-editable-stat quest-textarea" data-item-id={{themebook._id}} data-item-stat="system.quest" placeholder="Quest/Goal">{{themebook.system.quest}}</textarea>
            {{else}}
                <h3>Quest</h3>
                <p class="quest-text">{{themebook.system.quest}}</p>
            {{/if}}
        </div>
        <div class="development-container flexrow">
            {{> "systems/mist-engine-fvtt/templates/actor/parts/development-partial.hbs" name="Abandon" id=themebook._id key="system.abandon" value=themebook.system.abandon}}
            {{> "systems/mist-engine-fvtt/templates/actor/parts/development-partial.hbs" name="Improve" id=themebook._id key="system.improve" value=themebook.system.improve}}
            {{> "systems/mist-engine-fvtt/templates/actor/parts/development-partial.hbs" name="Milestone" id=themebook._id key="system.milestone" value=themebook.system.milestone}}
        </div>
    </div>
</div>