<div class="item-powertag-line flexrow">
    {{#if editMode}}
    {{index}}
    <input class="item-editable-stat" data-item-id={{id}} type="text" data-item-stat="system.powertag{{index}}.name"
        value="{{powertag.name}}" placeholder="{{powertag.question}}" title="{{powertag.question}}" />
    {{else}}
        {{#if (tagFilled powertag.name)}}
        <span class="burn-indicator" data-action="toggleToBurn" data-item-id={{id}} data-powertag-index={{index}}>
            <i class="burn-icon {{#if powertag.toBurn}}to-burn{{/if}}"></i>
        </span>
        <span class="litm-pc-powertag powertag-name pt-selectable {{#if powertag.selected}}selected{{/if}} {{#if powertag.burned}}burned{{/if}}"
            data-powertag-index={{index}} data-item-id={{id}}>{{powertag.name}}</span>
        {{/if}}
    {{/if}}
</div>