<div class="item-powertag-line flexrow">
    {{index}}
    <input type="text" name="system.powertag{{index}}.name" value="{{powertag.name}}" placeholder="{{powertag.question}}" title="{{powertag.question}}"/>
</div>