<div class="character-container" data-actor-id="{{character.id}}">
    <div class="npc-subtitle-container-c">
        <div class="npc-subtitle-text pointer" data-action="clickOpenCharacterSheet" data-id="{{character.id}}">{{character.name}}</div>
    </div>
    {{#if character.hasFloatingTagsAndStatuses}}
    <div class="floating-tags-and-status-entries">
        {{#each character.floatingTagsAndStatuses as |fts ftsIndex|}}
        <div class="floating-tag-and-status-entry flexcol" data-might="{{this.might}}" data-index="{{@index}}" data-actor-id="{{../character.id}}" data-is-status="{{fts.isStatus}}">
            <div class="flexrow">

                <div class="fts-input-name fts-tag-status-toggle-actor {{#if fts.isStatus}}status{{else}}tag{{/if}} {{#if this.positive}}positive{{else}}negative{{/if}}"
                    data-index="{{ftsIndex}}" data-actor-id="{{../character.id}}"
                    title="right click to toggle between tag or state">
                    <i class="fa-solid {{#if this.positive}}fa-circle-plus{{else}}fa-circle-minus{{/if}} fts-tag-modifier-toggle" data-action="toggleFloatingTagOrStatusModifier" data-source="litm-character" data-index="{{@index}}" data-actor-id="{{../character.id}}" title="toggle between positive and negative"></i>
                    <span class="fts-selectable {{#if this.selected}}selected{{/if}}" data-action="toggleFloatingTagOrStatusSelected" data-source="litm-character" data-index="{{@index}}" data-actor-id="{{../character.id}}" title="{{floatingTagStatusTitleHelper this}}">
                    {{#if this.might}}<i class="might-icon {{this.mightIcon}}"></i>{{/if}}
                    {{fts.name}}{{#if fts.isStatus}}-{{fts.value}}{{/if}}
                    </span>
                    <i class="fa-solid fa-trash fts-tag-status-toggle" data-action="deleteFloatingTagOrStatus" data-index="{{@index}}" data-confirm="1" title="delete this tag/status" data-source="litm-character" data-index="{{@index}}" data-actor-id="{{../character.id}}"></i>
                    <i class="fa-solid fa-arrows-to-dot fts-tag-status-toggle" data-action="toggleFloatingTagOrStatus" data-index="{{@index}}" title="toggle between tag and status" data-source="litm-character" data-index="{{@index}}"  data-actor-id="{{../character.id}}"></i>
                </div>
            </div>
            {{#if fts.isStatus}}

            <div class="fts-markings-container">
                {{#each fts.markings as |marking index|}}
                <span class="fts-input-marking" data-marking-index="{{index}}"
                    data-action="actorToggleFloatingTagOrStatusMarking" data-actor-id="{{../../character.id}}"
                    data-index="{{ftsIndex}}">
                    <i class="marking-circle {{#if marking}}active{{else}}inactive{{/if}}">{{indexPlusOne
                        index}}</i>
                </span>
                {{/each}}
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{/if}}

    {{#if character.hasSelectedTagsForRoll}}
    <div class="selected-tags-container flexcol">
        <label class="resource-label" style="text-align:center;">{{localize "MIST_ENGINE.LABELS.SelectedTagsAndStatuses"}}</label>
        {{#each character.selectedTagsForRoll}}
        <div class="tag {{#if this.positive}}positive{{else}}negative{{/if}}">
            {{#if this.might}}<i class="might-icon {{this.mightIcon}}"></i>{{/if}}
            {{#if this.toBurn}}🔥 {{else}}{{#unless this.positive}}<i class="fa-light fa-angles-down"></i>{{/unless}}{{/if}}{{this.name}}
            {{#if (gt this.value 0)}}-{{this.value}}{{/if}}</div>
        {{/each}}
    </div>
    {{/if}}
</div>
<div class="seperator"></div>