<div class="scene-app-characters scrollable">
    {{#if isGM}}
    <div>
        <div class="npc-limits-container">
            <div class="npc-subtitle-container-c">
                <div class="npc-subtitle-text">{{localize 'MIST_ENGINE.LABELS.SceneApp.CharactersHeader'}} </div>
            </div>

            {{#each characters as |character index|}}
            <div class="character-container">
                <div class="character-name">{{character.name}}</div>
                <div class="floating-tags-and-status-entries">
                    {{#each character.floatingTagsAndStatuses as |fts ftsIndex|}}
                    <div class="floating-tag-and-status-entry flexcol">
                        <div class="flexrow">

                            <div class="fts-input-name fts-tag-status-toggle-actor {{#if fts.isStatus}}status{{else}}tag{{/if}}"
                                data-index="{{ftsIndex}}" data-actor-id="{{character.id}}" title="right click to toggle between tag or state">
                                {{fts.name}}{{#if fts.isStatus}}-{{fts.value}}{{/if}}</div>

                        </div>
                        {{#if fts.isStatus}}
                        <div class="fts-markings-container">
                            {{#each (range 0 6)}}
                            <label id="marking-{{@index}}" for="system.floatingTagsAndStatuses.{{@../index}}.value"
                                class="fts-input-marking">
                                <input type="radio" name="system.floatingTagsAndStatuses.{{@../index}}.value"
                                    value="{{@index}}" {{#if (eq @index fts.value)}}checked{{/if}}>
                                <span
                                    class="marking-circle {{#if (eq @index fts.value)}}checked{{/if}}">{{@index}}</span>
                            </label>
                            {{/each}}
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>