<div>
    <div>
        <div class="npc-limits-container">
            <div class="npc-subtitle-container-c">
                <div class="npc-subtitle-text">{{localize 'MIST_ENGINE.LABELS.SceneApp.Header'}} {{#if isGM}}<a
                        data-action="createFloatingTagOrStatus"><i class='fas fa-plus'></i></a>{{/if}}</div>
            </div>

            <div>
                {{#if isGM}}
                <label for="fts-editable-checkbox">Editable</label>
                <input type="checkbox" id="fts-editable-checkbox" name="system.floatingTagsAndStatusesEditable" {{#if
                    currentSceneDataItem.system.floatingTagsAndStatusesEditable}}checked{{/if}}>
                {{/if}}
            </div>
            <div class="floating-tags-and-status-entries flexcol">
                {{#each currentSceneDataItem.system.floatingTagsAndStatuses}}
                <div class="floating-tag-and-status-entry flexrow">
                    {{#if ../currentSceneDataItem.system.floatingTagsAndStatusesEditable}}
                    <input type="text" class="fts-input-name updateable-fts-stat" data-index="{{@index}}"
                        data-key="name" value="{{this.name}}" name="system.floatingTagsAndStatuses.{{@index}}.name"
                        placeholder="Tag/Status Name">
                    {{else}}
                    {{#if (gt this.value 0)}}
                    <div class="fts-input-name status">{{this.name}}{{#if ../isNotGM}}-{{this.value}}{{/if}}</div>
                    {{else}}
                    <div class="fts-input-name tag">{{this.name}}</div>
                    {{/if}}

                    {{/if}}
                    {{#if ../isGM}}
                    <div class="fts-input flexrow">
                        {{#if ../currentSceneDataItem.system.floatingTagsAndStatusesEditable}}
                        <input type="text" class="fts-input-value updateable-fts-stat" data-index="{{@index}}"
                            data-key="value" value="{{this.value}}"
                            name="system.floatingTagsAndStatuses.{{@index}}.value" placeholder="Tag/Status Value">
                        <a data-action="deleteFloatingTagOrStatus" data-index="{{@index}}"><i
                                class='fas fa-trash'></i></a>
                        {{else}}
                        {{#if (gt this.value 0)}}
                        <i class="fa-solid fa-minus updateable-fts-stat-minus" data-index="{{@index}}"
                            style="text-align:center" id="button-negative-minus"></i>
                        <input type="text" class="fts-input-value" value="{{this.value}}" disabled>
                        <i class="fa-solid fa-plus updateable-fts-stat-plus" data-index="{{@index}}"
                            style="text-align:center" id="button-negative-plus"></i>
                        {{/if}}
                        {{/if}}

                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>

        </div>
    </div>