<form class="roll-card">
    <div class="card-title">
        {{label}}
    </div>
    {{> 'systems/mist-engine-fvtt/templates/chat/selected-tags-partial.hbs' selectedTags=selectedTags}}
    <div class="roll-result">
        {{{diceRollHTML}}}
    </div>
    {{> 'systems/mist-engine-fvtt/templates/chat/critical-fumble-partial.hbs' isCritical=isCritical isFumble=isFumble}}
    <div class="consequence-container">
        {{#if (eq consequenceResult -1)}}
        <div class="consequence-result-negative">

            <span class="heading"><i class="consequence-result-icon negative"></i>6-</span>
            <p>{{{localize "MIST_ENGINE.MOVES.LEGEND.quick.fail"}}}</p>
        </div>
        {{/if}}
        {{#if (eq consequenceResult 0)}}
        <div class="consequence-result-neutral">
            <span class="heading"><i class="consequence-result-icon neutral"></i>7-9</span>
           <p>{{{localize "MIST_ENGINE.MOVES.LEGEND.quick.neutral"}}}</p>
        </div>
        {{/if}}
        {{#if (eq consequenceResult 1)}}
        <div class="consequence-result-positive">
            <span class="heading"><i class="consequence-result-icon positive"></i>10</span>
            <p>{{{localize "MIST_ENGINE.MOVES.LEGEND.quick.success"}}}</p>
        </div>
        {{/if}}
    </div>
</form>