<section class="tab {{tabs.quest.id}} {{tabs.quest.cssClass}} scrollable" id="quest" data-tab="{{tabs.quest.id}}"
    data-group="{{tabs.quest.group}}">
        <textarea name="system.quest" id="system.quest" rows="5" style="width: 100%;">{{system.quest}}</textarea>
</section>