<section class="tab {{tabs.options.id}} {{tabs.options.cssClass}} scrollable" id="options" data-tab="{{tabs.options.id}}"
    data-group="{{tabs.options.group}}">
    <div class="flexcol options-container">
        <div class="flexrow mb-10">
            <label>
                <input type="checkbox" name="system.options.isStoryTheme" {{#if system.options.isStoryTheme}}checked{{/if}} />
                {{localize "MIST_ENGINE.THEMEBOOKS.Options.IsStoryTheme"}}
            </label>
        </div>
    </div>
</section>