<div class="item-powertag-line flexrow">
    <strong style="flex-grow:0.3;">{{questionIndexToLetter index}}</strong> <input type="text" name="system.powertags.{{index}}.question" value="{{powertag.question}}" placeholder="{{powerTagQuestionPlaceholder index powertag.question}}" style="flex-grow:8;"/>
    <i class="fa-solid fa-trash clickable" data-action="deletePowertag" data-index="{{index}}" style="flex-grow:0.3; margin-left: 0.5em;" title="{{localize "MIST_ENGINE.HELP.DeletePowertag"}}"></i>
</div>