

<div class="npc-subtitle-container-c">
    <div class="npc-subtitle-text">
        {{#if gmCheck}}
            {{#if userIsGM}}
                {{> 'systems/mist-engine-fvtt/templates/shared/lock-toggle.hbs'
                isLocked=floatingTagsAndStatusesEditable name="system.floatingTagsAndStatusesEditable"
                title="Toggle
                Edit Mode"}}
            {{/if}}
        {{else}}
            {{> 'systems/mist-engine-fvtt/templates/shared/lock-toggle.hbs'
            isLocked=floatingTagsAndStatusesEditable name="system.floatingTagsAndStatusesEditable"
            title="Toggle
            Edit Mode"}}
        {{/if}}
        {{localize 'MIST_ENGINE.LABELS.Actor.FloatingTagOrStatus'}}
        {{#if gmCheck}}
            {{#if userIsGM}}
                <a data-action="createFloatingTagOrStatus"><i class='fas fa-plus'></i></a>
            {{/if}}
        {{else}}
            <a data-action="createFloatingTagOrStatus"><i class='fas fa-plus'></i></a>
        {{/if}}
    </div>
</div>

<div class="floating-tags-and-status-entries">
    {{#each floatingTagsAndStatuses}}
    <div class="floating-tag-and-status-entry flexcol">
        {{!-- Tag/Status --}}
        <div class="fts-tag-container">
            {{#if ../floatingTagsAndStatusesEditable}}
            {{! -- this input field must not have a name attribute! otterwise foundry itself will update the array and fills it fill false data! --}}
            <input type="text" class="fts-input-name updateable-fts-stat" data-index="{{@index}}" data-key="name"
                value="{{this.name}}" placeholder="{{localize 'MIST_ENGINE.LABELS.Item.TagStatusName'}}">
            {{#if this.isStatus}}
            <input type="text" class="fts-input-value" value="{{this.value}}" disabled>
            {{/if}}
            <a data-action="deleteFloatingTagOrStatus" data-index="{{@index}}"><i class='fas fa-trash'></i></a>
            {{else}}
            <div class="fts-input-name  {{#if this.isStatus}}status{{else}}tag{{/if}} {{#if this.positive}}positive{{else}}negative{{/if}}">
                <i class="fa-solid fa-arrows-turn-to-dots fts-tag-modifier-toggle" data-action="toggleFloatingTagOrStatusModifier" data-index="{{@index}}" title="toggle between positive and negative"></i>
                <span class="fts-selectable {{#if this.selected}}selected{{/if}}" data-action="toggleFloatingTagOrStatusSelected" data-index="{{@index}}">
                    {{#unless this.positive}}
                    <i class="fa-light fa-angles-down"></i>
                    {{/unless}}
                    {{this.name}}{{#if this.isStatus}}-{{this.value}}{{/if}}
                </span>
                <i class="fa-solid fa-arrows-to-dot fts-tag-status-toggle" data-action="toggleFloatingTagOrStatus" data-index="{{@index}}" title="toggle between tag and status"></i>
                </div>
            {{/if}}
        </div>
        {{!-- Status Markers --}}
        {{#if this.isStatus}}
        {{#unless ../floatingTagsAndStatusesEditable}}
        <div class="fts-markings-container">
            {{#each this.markings as |marking index|}}
            <span class="fts-input-marking" data-marking-index="{{index}}"
                data-action="toggleFloatingTagOrStatusMarking" data-index="{{@../index}}">
                <i class="marking-circle {{#if marking}}active{{else}}inactive{{/if}}">{{indexPlusOne index}}</i>
            </span>
            {{/each}}
        </div>
        {{/unless}}
        {{/if}}
    </div>
    {{/each}}
</div>