<div class="lock-toggle-container {{#if isLocked}}locked{{else}}unlocked{{/if}}" data-action="clickToggleLock"
    data-name="{{name}}" id="{{name}}">
    {{#if isLocked}}
    <i class="fa-solid fa-unlock" title="{{title}}"></i>
    {{else}}

    <i class="fa-solid fa-lock" title="{{title}}"></i>
    {{/if}}
</div>