<div class="item-weakness-line flexrow">
    {{#if editMode}}
    <input class="themebook-entry-input" data-item-id="{{id}}" type="text" data-key="system.weaknesstag{{index}}.name" 
        value="{{weaknesstag.name}}" placeholder="{{weaknesstag.question}}" title="{{weaknesstag.question}}" title="Weakness" data-source="{{source}}"/>
    {{else}}
        {{#if (tagFilled weaknesstag.name)}}
        <span class="litm-pc-weakness wt-selectable {{#if weaknesstag.selected}}selected{{/if}}"
            data-weaknesstag-index="{{index}}" data-item-id="{{id}}" data-source="{{source}}">
            <i class="fa-light fa-angles-down"></i>
            {{weaknesstag.name}}
        </span>
        {{/if}}
    {{/if}}
</div>