<section class="tab {{tabs.form.id}} {{tabs.form.cssClass}} scrollable" id="form"
    data-tab="{{tabs.form.id}}" data-group="{{tabs.form.group}}">
    <p class="help-text">{{localize 'MIST_ENGINE.HELP.QuintessenceSheet'}}</p>
</section>
